// CSS RESET
* {
  margin: 0;
  padding: 0;
  border: 0 none;
  outline: 0;
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
}

@font-face {
  font-family: 'Half-Life';
  src: url('./fonts/HalfLife.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('./fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}
$halflife: 'Half-Life', Arial, sans-serif;
$lato: 'Lato', Helvetica, Arial, sans-serif;
$openSans: 'Open Sans', Helvetica, Arial, sans-serif;
$oswald: 'Oswald';
$roboto: 'Roboto';


$textColor: #333;
$bgColor: #fff;
$lightColor: #ddd;

$color: #c9e4e5;
$color2: #c9e4e5;
$pagiColor: #2f3738;
$overlayColor: rgb(0,0,0);
// $overlayColor: rgb(47,55,56);


@mixin mediaMaxWidth($w) {
  @media (max-width: $w) {
    @content;
  }
}

// *, *:before, *:after {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }
// html, body {
//   font-size: 1em;
//   width: 100%;
//   height: 100%;
//   margin: 0;
//   padding: 0;
// }

body {
  background: $bgColor;
}
svg {
  display: block;
  overflow: visible;
}

// .container-fluid {
//   margin: 0;
//   padding: 0;
// }
// .col {
//   margin: 0px;
//   padding: 0px;
// }
// .row {
//   margin: 0px;
//   padding: 0px;
// }

/*********************************************************************
NAVBAR
*********************************************************************/
:global .navbar {
  background: $bgColor !important;
  // height: 48px;
  // max-height: 48px;
  // font-size: 14px !important;
  line-height: 26px !important;
  transition-duration: 0.42s;
  opacity: 0.88;

  // -webkit-filter: blur(5px);
  // -moz-filter: blur(5px);
  // -o-filter: blur(5px);
  // -ms-filter: blur(5px);
  // filter: blur(5px);

  a {
    // color: $color;
    color: #333;
    font-size: 14px;
  }
}
.navbar-scroll {
  transform: translateY(-56px);
  transition-duration: 0.42s;   
}
.navbar-brand {
  font-weight: bold !important;
  font-family: $halflife !important;
  // color: $color !important;
  color: $textColor !important;
  height: 100%;
  text-align: center !important;

  i {
    -webkit-transition: transform .35s ease-in-out;
    -moz-transition: transform .35s ease-in-out;
    -o-transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
  }

  &:hover i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); 
  }
}

.nav-link {
  font-family: $halflife !important;
}

.navbar-toggler {
  // border: 1px solid deeppink !important;
  border: none !important;
  // color: $color !important;
  color: $textColor;
  outline: none !important;  
  height: 46px;
  top: -2px;

  &:focus,
  &:active {
    outline: 0;
  }
  span {
    display: block;
    position: relative;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    left: 0;
    opacity: 1;
    background-color: #999;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

    &:nth-child(1),
    &:nth-child(3) {
       -webkit-transition: transform .35s ease-in-out;
       -moz-transition: transform .35s ease-in-out;
       -o-transition: transform .35s ease-in-out;
       transition: transform .35s ease-in-out;
    }
    &:nth-child(2) {
      visibility: hidden;
    }
  }
  &:not(.collapsed) {
    span {
      &:nth-child(1) {
        position: absolute;
        left: 12px;
        top: 17px;
        opacity: 0.9;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }
      &:nth-child(2) {
        height: 17px;
        visibility: hidden;
        background-color: transparent;
      }
      &:nth-child(3) {
        position: absolute;
        left: 12px;
        top: 17px;
        opacity: 0.9;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    }
  }
}


/*********************************************************************
SLIDER
*********************************************************************/
.slider-container {
  position: relative;
  user-select: none;
  width: 100%;
  max-height: calc(100vh - 80px);
  height: calc(100vh - 80px);
  background: $bgColor;
  cursor: all-scroll;
  overflow: hidden;
  // @include mediaMaxWidth(991px) {
  //   max-height: 90%;
  // }  
  @include mediaMaxWidth(734px) {
    max-height: 640px;
    height: 640px;
    // max-height: calc(100vh - 50px);
    // height: calc(100vh - 50px);
  }
}
.slider {
  z-index: 1;
  position: relative;
  height: 100%;
  // @include mediaMaxWidth(767px) {
  //   max-height: 640px;
  //   height: 640px;
  // }
  // @include mediaMaxWidth(991px) {
  //   max-height: calc(100vh - 80px);
  //   height: calc(100vh - 80px);
  // }

  &.animating {
    transition: transform 0.5s;
    will-change: transform;

    .slide__bg {
      transition: transform 0.5s;
      will-change: transform;
    }
  }
}
.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &.active {

    .slide__overlay,
    .slide__text-bg,
    .slide__text {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    will-change: transform;
  }
  &:nth-child(1) {
    left: 0;

    .slide__bg {
      left: 0;
      background-image: url('./imgs/bg8.jpg');
    }
    .slide__overlay-path {
      fill: $overlayColor;
    }
  }
  &:nth-child(2) {
    left: 100%;

    .slide__bg {
      left: -50%;
      background-image: url('./imgs/bg3.jpg');
    }
    .slide__overlay-path {
      fill: rgb(0,0,0);
    }
  }
  &:nth-child(3) {
    left: 200%;

    .slide__bg {
      left: -100%;
      background-image: url('./imgs/bg.png');
    }
    .slide__overlay-path {
      fill: rgb(0,0,0);
    }
  }
  &:nth-child(4) {
    left: 300%;

    .slide__bg {
      left: -150%;
      background-image: url('./imgs/bg7.jpg');
    }
    .slide__overlay-path {
      fill: rgb(0,0,0);
    }
  }

  &__content {
    top: 12%;
    // border: 1px solid yellow;
    position: absolute;
    width: 100%;
    // height: 100%;
    margin: 0px auto;
    text-align: center;
    display: inline-flex;
    @include mediaMaxWidth(734px) {
      max-height: 640px;
      height: 640px;
    }
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    min-height: 810px;
    transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
    will-change: transform, opacity;
    transform: translate3d(-20%, 0, 0);
    opacity: 0;

    @include mediaMaxWidth(991px) {
      display: none;
    }

    path {
      opacity: 0.8;
    }
  }

  &__text-bg {
    // border: 1px solid green;
    position: absolute;
    margin: 0px auto;
    background: rgba($bgColor,0.88);
    transition: opacity 0.8s 1.3s;
    will-change: opacity;
    // transform: translateY(-70%);
    opacity: 0;
    -webkit-filter: blur(5px);
    filter: blur(5.5px);
    z-index: 8;
  }

  &__text {
    // border: 1px solid hotpink;
    background: rgba($bgColor,0.62);
    position: relative;
    // display: block;
    float: left;
    // width: auto;
    top: 12%;
    // left: 3%;
    margin: 0px auto;
    padding: 0;
    text-align: center;
    color: $textColor;
    transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
    will-change: transform, opacity;
    transform: translateY(-70%);
    opacity: 0;
    z-index: 9;

    @include mediaMaxWidth(734px) {
      top: 11%;
      transform: translateY(-60%);
      transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    }

    &-heading {
      display: block;
      font-family: $lato;
      font-size: 1.44rem;
      margin: 6px 15px 0;
      // margin: 0px auto 16px auto;
      // box-decoration-break: clone;

      span {
        // padding: 3px 12px;
        // background-color: rgba(#000,0.5);
      }

      @include mediaMaxWidth(734px) {
        // line-height: 5rem;
        font-size: 1rem;
      }
    }

    &-desc {
      display: block;
      font-family: $openSans;
      font-size: 1.88rem;
      margin: 6px 15px 0;
      // margin-bottom: 16px;
      // background-color: #000;
      // box-decoration-break: clone;

      span {
        // padding: 3px 12px;
        // background-color: rgba(#000,0.5);

        &.gamertag {
          font-family: $halflife;
        }
      }

      @include mediaMaxWidth(734px) {
        font-size: 1.23rem;
        display: block;
      }
    }

    &-link {
      z-index: 5;
      display: inline-block;
      cursor: pointer;
      font-family: $openSans;
      font-size: 1.08rem;
      perspective: 1000px;
      
      @include mediaMaxWidth(991px) {
        display: none;
        font-size: 0.96rem;
      }

      &:before {
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        transform-origin: 50% 100%;
        transform: rotateX(-85deg);
        transition: transform 0.3s;
        will-change: transform;
      }

      &:hover:before {
        transform: rotateX(0);
      }
    }
  }
}

.slider-control {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
  transition: opacity 0.3s;
  will-change: opacity;
  opacity: 0;

  &.inactive:hover {
    cursor: auto;
  }

  &:not(.inactive):hover {
    opacity: 1;
    cursor: pointer;
    .slider-control__button {
      opacity: 0.7;
      // background-color: rgba(0,0,0,0.7);
    }
  }

  &.left {
    left: 0;
    background: linear-gradient(to right, rgba($bgColor,0.23) 0%, rgba($bgColor,0) 100%);
  }
  &.right {
    right: 0;
    background: linear-gradient(to right, rgba($bgColor,0) 0%, rgba($bgColor,0.23) 100%);
  }
}
.slider-control__button {
  border-radius: 64%;
  position: absolute;
  width: 64px;
  height: 64px;
  top: 50%;
  opacity: 0;
  background: #fff;
  transition: opacity 0.3s ease-in;
  will-change: opacity;
  z-index: 1000;
  font-size: 32px;
  line-height: 60px;
  text-align: center;

  .button-icon {
    color: $textColor;
  }
  &-previous {
    padding-right: 6px;
    left: 18px;
  }
  &-next {
    padding-left: 6px;
    right: 18px;
  }
}

.slider-pagi-container {
  // border: 1px solid pink;
  position: absolute;
  width: 100%;
  height: 27px;
  bottom: 3%;
  z-index: 3;
}
.slider-pagi {
  // border: 1px solid yellow;
  display: block;
  position: relative;
  width: auto;
  height: 100%;
  margin: 0px auto;
  text-align: center;
  list-style-type: none;

  &__elem {
    // border: 1px solid deeppink;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    margin-right: 10px;
    width: 52px;
    height: 100%;
    color: $color2;
    cursor: pointer;

    &:last-of-type {
      margin-right: 0px;
    }

    &:hover {
      border: 1px solid deeppink;
    }

    .progressBar {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      // border-radius: 10%;
      margin: auto;
      width: 100%;
      height: 3px;
      background: #777;
      overflow: hidden;

      .progress {
        // border-radius: 12%;
        height: 100%;
        width: 0;
        line-height: 3px;
        background: $lightColor;
      }
    }
  }
}

// .slider-pagi {
//   border: 1px solid yellow;
//   display: inline-block;
//   position: absolute;
//   width: auto;
//   height: 100%;
//   text-align: center;
//   list-style-type: none;
//   overflow: hidden;
//   z-index: 3;
//   float: none;
//   // transform: translateX(-50%);

//   &:active:before, &:hover:before {
//   }

//   &__elem {
//     border: 1px solid $color2;
//     // position: relative;
//     display: inline-block;
//     width: 64px;
//     // height: 3px;
//     height: 0.12rem;
//     margin: 0 0.25rem;
//     border-radius: 12%;
//     color: $color2;
//     cursor: pointer;
//     // overflow: visible;
    
//     // &:before {
//     //   content: "";
//     //   width: 100%;
//     //   height: 100%;
//     //   background: #333;
//     //   border-radius: 12%;
//     //   transition: transform 0.3s;
//     //   transform: translate(-50%, -50%) scale(0);
//     // }
    
//     // &.active:before,
//     // &:hover:before {
//     //   transform: translate(-50%, -50%) scale(1);
//     // }

//     // &.active {
//     //   // border: 2px solid $color2;
//     //   cursor: auto;
//     // }

//     .progressBar {
//       width: 100%;
//       height: 3px;
//       // border: 1px solid #111;
//       // background-color: $color2;
//       line-height: 22px; 
//     }
//     .progressBar div {
//       height: 100%;
//       color: #fff;
//       line-height: 3px; /* same as #progressBar height if we want text middle aligned */
//       width: 0;
//       background-color: #00ff00;
//     }
//   }
// }

/*********************************************************************
PROJECTS
*********************************************************************/
.projects-container {
  background: $bgColor;
  margin: 0;
  padding: 0;
  position: relative;
  height: auto;
  user-select: none;
  overflow: hidden;
}
.projects {
  z-index: 1;
  position: relative;
  height: 100%;
  background-color: #fff;

  &__text {
    // border: 1px solid red;
    &-heading {
      background: #bgColor;
      h2 {
        margin: 0px auto;
        font-family: $halflife;
        font-size: 1.618rem;
        padding-top: 18px;
        padding-bottom: 12px;
        color: $textColor;
      }
    }
    @include mediaMaxWidth(734px) {
      &-heading {
        h2 {
          padding-top: 15px;
          padding-bottom: 19px;
         font-size: 1.36rem;
        }
      }
    }
  }

  // &.animating {
  //   transition: transform 0.5s;
  //   will-change: transform;

  //   .slide__bg {
  //     transition: transform 0.5s;
  //     will-change: transform;
  //   }
  // }
}
.project-wrapper {
  // margin-top: 4px;
  background: #fff;
  // @include mediaMaxWidth(734px) {
  //   margin-top: 2px;
  // }
}
.project {
  // border: 1px solid deeppink;
  display: block;
  width: 100%;
  height: 270px;
  min-height: 200px;
  background-color: #fff;
  margin: 0px 0px 2px 0px;
  padding: 0;
  overflow: hidden;

  @include mediaMaxWidth(734px) {
    height: 225px;
    // margin: 0px 0px 1px 0px;
  }

  &__bg {
    // border: 1px solid blue;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;

    iframe {
      box-sizing: border-box;
    }
  }

  &:nth-child(1) {
    .project__bg {
      background-image: url('./imgs/proj2.jpg');
    }
  }
  &:nth-child(2) {
    .project__bg {
      // background-image: url('./imgs/proj4.png');
    }
  }
  &:nth-child(3) {
    .project__bg {
      background-image: url('./imgs/pj3.jpg');
    }
  }
  &:nth-child(4) {
    .project__bg {
      background-image: url('./imgs/pj4.jpg');
    }
  }

  &__content {
    // border: 2px solid red;
    position: absolute;
    display: block;
    margin: 0px auto;
    text-align: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    // z-index: 6;
  }

  &__text {
    // border: 1px solid deeppink;
    position: relative;
    display: block;
    width: auto;
    max-width: 98%;
    margin: 0px auto;
    top: 12%;
    text-align: center;
    color: $color2;
    // transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
    // will-change: transform, opacity;
    // transform: translateY(-50%);
    // opacity: 0;
    // z-index: 7;

    @include mediaMaxWidth(734px) {
      top: 11%;
      // transform: translateY(-50%);
      // transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    }

    &-heading {
      // border: 1px solid pink;
      display: block;
      margin: 0px auto 6px auto;
      font-family: $lato;
      font-size: 1.16rem;

      span {
        padding: 2px 8px;
        background-color: rgba(#000,0.5);
      }

      @include mediaMaxWidth(734px) {
        font-size: 0.9rem;
      }
    }

    &-desc {
      display: block;
      font-family: $openSans;
      font-size: 1.16rem;
      margin-bottom: 12px;
      // background-color: #000;
      // box-decoration-break: clone;

      span {
        padding: 2px 8px;
        background-color: rgba(#000,0.5);
      }

      @include mediaMaxWidth(734px) {
        font-size: 0.9rem;
        display: block;
      }
    }
  }


  &-feature {
    margin: 2px 0px;
    background-color: #fff;
    // @include mediaMaxWidth(734px) {
    //   margin: 1px 0px;
    // }
  }

}
.projects-footer {
  padding: 34px 0px 21px 0px;
  position: relative;
  min-height: 200px;
  background-color: #333;
  background: linear-gradient(to bottom, rgba(51,51,51,1) 0%, rgba(0,0,0,1) 100%);
  // background: linear-gradient(to bottom, rgba(255,0,255,0.5) 0%, rgba(0,0,0,1) 100%);
  text-align: center;

  a {
    color: purple !important;
  }

  &__text {
    color: $color;

    &-heading {
      font-family: $lato;
      font-size: 2.5rem;
      color: $color;
      padding-top: 1rem;
    }

    &-link {
      z-index: 5;
      display: inline-block;
      position: relative;
      padding: 0.25rem;
      cursor: pointer;
      font-family: $openSans;
      // font-size: 1.15rem;
      font-size: 5.0rem;
      perspective: 1000px;
      
      @include mediaMaxWidth(991px) {
        display: none;
      }

      &:before {
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        transform-origin: 50% 100%;
        transform: rotateX(-85deg);
        transition: transform 0.3s;
        will-change: transform;
      }

      &:hover:before {
        transform: rotateX(0);
      }
    }
  }
}

/*********************************************************************
ABOUT
*********************************************************************/
.about-container {
  // border: 1px solid pink;
  position: relative;
  user-select: none;
  padding: 0;
  background: #fff;
  padding: 33px 15px 21px 15px;
  overflow: hidden;
}
.about {
  max-width: 1024px;
  margin: 0px auto;
  // border: 1px solid deeppink;
  display: block;

  h2 {
    margin: 0px auto;
    font-family: $halflife;
    font-size: 1.618rem;
    margin-bottom: 21px;
    color: $textColor;
  }

  p {
    // border: 1px solid fuchsia;
    font-family: $openSans;
    font-size: 1em;
    // color: $color;
    color: #333;
    &:last-of-type {
      margin: 0;
    }
  }

  @include mediaMaxWidth(734px) {
    h2 {
      font-size: 1.36rem;
    }
  }
}

/*********************************************************************
SOCIAL
*********************************************************************/
.social-container {
  // border: 1px solid palevioletred;
  position: relative;
  user-select: none;
  padding: 0px 3%;
  background: $bgColor;
  overflow: hidden;
  padding: 34px 0px 21px 0px;
}
.social {
  // border: 1px solid hotpink;
  display: block;
  position: relative;
  // margin: 20px auto;
  flex-wrap: nowrap;

  h2 {
    margin: 0px auto;
    font-family: $halflife;
    font-size: 1.618rem;
    margin-bottom: 21px;
    color: $textColor;
  }

  @include mediaMaxWidth(734px) {
    h2 {
      font-size: 1.36rem;
    }
  }
}
.social ul {
  margin: 0px auto;
  flex-wrap: nowrap;
}
.social ul > li {
  display: inline-block;
  padding: 0px;
  margin: 0px 4px;
  flex-wrap: nowrap;
}
.social button {
  height: auto;
  min-width: 60px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #555;
  outline: none;
  font-size: 1.32em;
  padding: 8px 18px 6px 18px;
  margin: 0px 0px 0px 0px;
  opacity: 1;
  cursor: pointer;
}
.social button:hover {
  opacity: 0.9;
  position: relative;
  top: -2px;
  left: -2px;
  -webkit-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.75);
}

/*********************************************************************
RESUME
*********************************************************************/
.resume-container {
  // border: 1px solid yellow;
  position: relative;
  background: $bgColor;
  line-height: 1;
  padding: 34px 15px 21px 15px;
}
.resume-title {
  // border: 1px solid deeppink;
  padding: 0;
  margin: 0px auto;
  text-align: center;

  &-wrapper {
    cursor: pointer;

  }

  h2 {
    margin: 0px auto;
    font-family: $halflife;
    font-size: 1.618rem;
    margin-bottom: 21px;
    color: $textColor;
  }

  i {
    color: #333;

    -webkit-transition: transform .35s ease-in-out;
    -moz-transition: transform .35s ease-in-out;
    -o-transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
  }

  &.caret {
    &-collapsed {
      color: deeppink;
      i {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg); 
      }
    }
  }

  @include mediaMaxWidth(734px) {
    h2 {
      font-size: 1.36rem;
    }
  }
}

.resume {
  border: 1px solid #fcfcfc;
  padding: 10px 20px;
  margin: 0px auto;
  background: #fff;
  max-width: 1024px;
  color: #333;
  font-family: $roboto;

  .controls {
    padding: 4px 10px 0 0;
    float: right;
    color: #000;
  }

  .section {
    // border: 1px solid deeppink;
    font-size: 0.9em; 
    margin: 18px 0; 
    overflow: hidden; 

    h1 {
      font-family: $oswald;
      letter-spacing: 0.09em;
      border-left: 2px solid #DDD; 
      border-bottom: 1px solid #DDD; 
      font-size: 1.1em; 
      font-weight: bold;
      margin-bottom: 10px; 
      padding-left: 5px; 
      text-transform: uppercase;
      color: #3B5998;
      // color: #3b5998;
    }
    p {
      font-family: $roboto;
      line-height: 1.25em; 
      padding: 0 20px 5px;
    }
  }

  .vcard {
    // border: 1px solid deeppink;
    margin-bottom: 10px;
    overflow: hidden;

    .full-name {
      font-size: 2.7em;
      font-weight: bold;
      padding: 5px 10px 5px 10px;
      float: left;
      cursor: pointer;
      a {
        color: #3B5998;
      }
      a:hover {
        background-color: #eee;
        text-decoration: none;
      }
    }

    .contact {
      // border: 1px solid green;
      list-style: none;
      margin: 21px 0 0 0;
      overflow: hidden;

      li {
        border-right: 2px solid #ccc; 
        display: inline; 
        float: left; 
        font-size: 0.8em; 
        padding: 2px 0; 
        text-align: center; 
        width: 33%; 
        overflow: hidden;
      }
      li:last-child {
        border: none
      }
      a{
        color: #000;
        &:hover {
          background-color: #eee;
          text-decoration: none;
        }
      }
    }
  }

  .summary {
    // border: 1px solid deeppink;
    h1 {
      // border-left: 2px solid #DDD; 
      font-size: 1.11em; 
      margin-bottom: 10px; 
      padding-left: 5px; 
      text-transform: uppercase;
    }
    p {
      line-height: 17px; 
      padding: 0 20px;
      margin: 0;
      font-size: 1em;
    }
  }

  .xp {
    article {
      // border: 1px solid deeppink;
      // border: 1px solid #FCFCFC;
      margin: 5px 0 5px 0; 
      padding-left: 20px; 
      position: relative; 

      .start, .end {
        border-top: 1px solid #ddd; 
        font-size: 0.7em; 
        left: -80px; 
        padding: 4px 0; 
        position: absolute; 
        text-align: center; 
        top: 19px; 
        width: 67px;
      }

      .end {
        top: 0; 
        border: none
      }

      h1 {
        font-family: $roboto;
        letter-spacing: 0em;
        border: none; 
        font-size: 1.11em; 
        font-weight: bold; 
        font-style: italic;
        padding: 0; 
        margin: 0 0 6px 0;
        text-transform: none;

        a {
          color: #333; 
          text-decoration: none;
          &:hover {
            background-color: #333; 
            color: #eee
          }
        }

        span {
          color: #777; 
          font-size: 0.84em; 
          font-weight: normal;
        }
        .city {
          padding-left: 6px;
        }
        .date {
          padding-left: 0px;
        }
      }

      h2 {
        font-family: $roboto;
        background: #eee; 
        display: inline; 
        font-size: 1em; 
        font-weight: normal; 
        margin: 0 1px;
        padding: 0 2px;
      }

      p {
        font-size: 1em; 
        line-height: 17px; 
        margin: 3px 0 0; 
        padding-left: 0;
      }
    }
    article:last-child {
      margin-bottom: 0;
    }
    article:hover {
      border: 1px solid #ddd; 
      background: #fefefe
    }
  }

  .education {
    &-school {
      padding-left: 20px;
      clear: both;
      display: inline-block;
      width: 50%;

      .school-name {
        padding: 0;
        margin: 0 0 3px 0;
        font-weight: bold;
        display: block;
        font-size: 1.11em;

      }
      .school-desc {
        padding: 0;
        margin: 0;
        display: block;
        font-size: 1em;
        line-height: 17px;
      }
      .school-date {
        padding: 0;
        margin: 0;
        font-size: 1em;
        line-height: 17px;
      }
    }
  }

  .skills {
    // border: 1px solid deeppink;
    dl {
      margin-left: 15px; 
      font-size: 95%;
      dt {
        clear: left; 
        display: inline; 
        float: left; 
        margin: 10px 5px 10px 0; 
        padding: 2px; 
        text-align: right; 
        /*width: 150px;*/
      }
      dd {
        background: #dfdfdf; 
        display: inline; 
        float: left; 
        font-size: 0.9em; 
        margin: 7px 4px; 
        padding: 5px; 
        -webkit-border-radius: 5px; 
        border-radius: 5px; 
        -webkit-box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 0.35);  
        box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 0.35); 
        cursor: default;
        &:hover {
          background-color: #ccc; 
          -webkit-box-shadow: inset 0px 2px 1px 1px rgba(0, 0, 0, 0.15); 
          box-shadow: inset 0px 2px 1px 1px rgba(0, 0, 0, 0.15); 
        }
      }
    }
  }
}

// #skills dl dd:hover {
// }



/*********************************************************************
P5 CANVAS
*********************************************************************/
.p5-canvas-container {
  margin: 0;
  padding: 0;  
}

.p5-canvas {
  position: relative;
  display: block;
  width: 100%;
  height: 420px;
}


/*********************************************************************
SKILLS
*********************************************************************/
// .skills {
//   background: #100606;
//   color: #ccc;
//   height: 100%;
// }


/*********************************************************************
FOOTER
*********************************************************************/
.footer-container {
  // border: 1px solid yellow;
  position: relative;
  padding: 0;
  background: $bgColor;
  overflow: hidden;
}
.footer-wrapper {
  // border: 1px solid deeppink;
  margin: 21px 16px 21px 16px;
}
.footer {
  // border: 1px solid pink;
  margin: 0px auto;
  text-align: center;
  display: block;
  width: 100%;
  max-width: 1024px;
  // max-width: 991px;
  min-height: 52px;
  line-height: 16px;
  font-size: 11px;
  color: $textColor;
  // margin: 0px auto;

  &.row {
  }

  &-promo {
    margin: 0px 0px 7px 0px;
    padding: 0px 0px 6px 0px;
    border-bottom: 1px solid #333;

    &-content {
      padding: 0;
      text-align: left;
    }
  }

  &-legalese {
    &-content {
      text-align: left;
    }
    &-links {
      text-align: center;
      margin: 3px 0px;
      a {
        color: #888;
      }
      @include mediaMaxWidth(767px) {
        text-align: left;
      }
    }
    &-link {
      border-right: 1px solid #333;
      margin: 3px 10px 0px 0px;
      padding: 0px 12px 0px 0px;
       &:last-of-type {
        border-right: none;
       }
    }
    &-location {
      text-align: right;
      @include mediaMaxWidth(767px) {
        text-align: left;
      }
    }


    @include mediaMaxWidth(734px) {
      display: block;
    }
  }
}

.test-container {
  position: relative;
  background: #666;
  display: block;
  width: 100%;
  height: 420px;

  &__test {
    border: 1px solid deeppink;
    background: #333;
    width: 90%;
    height: 210px;
    margin: 0px auto;
    text-align: center;

    h2 {
      color: pink;
    }

    p {
      color: yellow;
    }
  }
}


// STUFF
section {
  margin: 100px auto 100px auto;
  height: 500px;
  width: 600px;
  background: #333;
  text-align: center;
  padding-top: 300px;
  color: black;
  font-size: 4em;
  overflow: hidden; 
}

