@font-face {
  font-family: 'Half-Life';
  src: url('./fonts/HalfLife.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('./fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('./fonts/OpenSans-Regular.ttf') format('truetype');
}
// @font-face {
//   font-family: 'Gentium Basic', serif;
//   src: url('./fonts/GenBasR.ttf') format('truetype');
// }


$halflife: 'Half-Life', Arial, sans-serif;
$lato: 'Lato', Helvetica, Arial, sans-serif;
$openSans: 'Open Sans', Helvetica, Arial, sans-serif;
// $gentium: 'Gentium Basic', serif;
@mixin mediaMaxWidth($w) {
  @media (max-width: $w) {
    @content;
  }
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  font-size: 1em;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #000;
}
svg {
  display: block;
  overflow: visible;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.col {
  margin: 0px;
  padding: 0px;
}
.row {
  margin: 0px;
  padding: 0px;
}

$color: #c9e4e5;
$color2: #c9e4e5;

$pagiColor: #2f3738;
// $overlayColor: rgb(47,55,56);
$overlayColor: rgb(0,0,0);
/*********************************************************************
NAVBAR
*********************************************************************/
.navbar {
  background: #000 !important;
  transition-duration: 0.42s;
  opacity: 0.8;
  a {
    color: $color;
    font-size: 1.25rem;
  }
}
.navbar-scroll {
  transform: translateY(-52px);
  transition-duration: 0.42s;   
}
.navbar-brand {
  font-weight: bold !important;
  font-family: $halflife !important;
  color: $color !important;
  height: 100%;
  text-align: center !important;

  i {
    -webkit-transition: transform .35s ease-in-out;
    -moz-transition: transform .35s ease-in-out;
    -o-transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
  }

  &:hover i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); 
  }
}

.nav-link {
  font-family: $halflife !important;
}

.navbar-toggler {
  border: 1px solid deeppink !important;
  color: $color !important;
  // border: none !important;
  outline: none !important;  
  height: 46px;
  &:focus,
  &:active {
    outline: 0;
  }
  span {
    display: block;
    background-color: #999;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    position: relative;
    left: 0;
    opacity: 1;

    &:nth-child(1),
    &:nth-child(3) {
       -webkit-transition: transform .35s ease-in-out;
       -moz-transition: transform .35s ease-in-out;
       -o-transition: transform .35s ease-in-out;
       transition: transform .35s ease-in-out;
    }
    &:nth-child(2) {
      visibility: hidden;
    }
  }
  &:not(.collapsed) {
    span {
      &:nth-child(1) {
        position: absolute;
        left: 12px;
        top: 15px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
        opacity: 0.9;
      }
      &:nth-child(2) {
        height: 17px;
        visibility: hidden;
        background-color: transparent;
      }
      &:nth-child(3) {
        position: absolute;
        left: 12px;
        top: 15px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
        opacity: 0.9;
      }
    }
  }
}




/*********************************************************************
SLIDER
*********************************************************************/
.slider-container {
  position: relative;
  height: 100%;
  user-select: none;
  cursor: all-scroll;
  overflow: hidden;
}
.slider {
  z-index: 1;
  position: relative;
  height: 100%;

  &.animating {
    transition: transform 0.5s;
    will-change: transform;

    .slide__bg {
      transition: transform 0.5s;
      will-change: transform;
    }
  }
}
.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &.active {

    .slide__overlay,
    .slide__text{
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    will-change: transform;
  }
  &:nth-child(1) {
    left: 0;

    .slide__bg {
      left: 0;
      background-image: url('./imgs/bg7.jpg');
    }
    .slide__overlay-path {
      fill: $overlayColor;
    }
    @include mediaMaxWidth(991px) {
      .slide__text {
        background-color: rgba(0,0,0,0.8);
      } 
    }
  }
  &:nth-child(2) {
    left: 100%;

    .slide__bg {
      left: -50%;
      background-image: url('./imgs/bg5.jpg');
    }
    .slide__overlay-path {
      fill: rgb(0,0,0);
    }
    @include mediaMaxWidth(991px) {
      .slide__text {
        background-color: rgba(0,0,0,0.8);
      } 
    }
  }
  &:nth-child(3) {
    left: 200%;

    .slide__bg {
      left: -100%;
      background-image: url('./imgs/bg3.jpg');
    }
    .slide__overlay-path {
      fill: rgb(0,0,0);
    }
    @include mediaMaxWidth(991px) {
      .slide__text {
        background-color: rgba(0,0,0,0.8);
      } 
    }
  }
  &:nth-child(4) {
    left: 300%;

    .slide__bg {
      left: -150%;
      background-image: url('./imgs/bg6.jpg');
    }
    .slide__overlay-path {
      fill: rgb(0,0,0);
    }
    @include mediaMaxWidth(991px) {
      .slide__text {
        background-color: rgba(0,0,0,0.8);
      } 
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    min-height: 810px;
    transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
    will-change: transform, opacity;
    transform: translate3d(-20%, 0, 0);
    opacity: 0;

    @include mediaMaxWidth(991px) {
      display: none;
    }

    path {
      opacity: 0.8;
    }
  }

  &__text {
    // border: 1px solid deeppink;
    position: absolute;
    width: 360px;
    bottom: 23%;
    left: 3%;
    color: $color2;
    transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
    will-change: transform, opacity;
    transform: translateY(-50%);
    opacity: 0;

    @include mediaMaxWidth(991px) {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 25%;
      text-align: center;
      transform: translateY(50%);
      transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
      padding: 0 0.5rem;
    }

    &-heading {
      font-family: $lato;
      font-size: 2.5rem;
      margin-top: 2rem;
      
      @include mediaMaxWidth(991px) {
        line-height: 5rem;
        font-size: 1.75rem;
      }
    }

    &-desc {
      font-family: $openSans;
      font-size: 1.08rem;
      margin-bottom: 1.5rem;

      @include mediaMaxWidth(991px) {
        display: block;
      }
    }

    &-link {
      z-index: 5;
      display: inline-block;
      position: relative;
      padding: 0.25rem;
      cursor: pointer;
      font-family: $openSans;
      font-size: 1.15rem;
      perspective: 1000px;
      
      @include mediaMaxWidth(991px) {
        display: none;
      }

      &:before {
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        transform-origin: 50% 100%;
        transform: rotateX(-85deg);
        transition: transform 0.3s;
        will-change: transform;
      }

      &:hover:before {
        transform: rotateX(0);
      }
    }
  }
}

.slider-control {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 16%;
  height: 100%;
  transition: opacity 0.3s;
  will-change: opacity;
  opacity: 0;

  &.inactive:hover {
    cursor: auto;
  }

  &:not(.inactive):hover {
    opacity: 1;
    cursor: pointer;
  }

  &.left {
    left: 0;
    background: linear-gradient(to right, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
  }
  &.right {
    right: 0;
    background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
  }
}
.slider-control__button {
  border: 1px solid deeppink;
  display: block;
  position: relative;
  top: 50%;
  z-index: 1000;

  .left {
    border: 1px solid pink;
    position: fixed;
    left: 1%;
  }

  .right {
    border: 1px solid pink;
    position: fixed;
    right: 1%;
  }

  i {
    color: #999;
  }
}

.slider-pagi {
  // border: 1px solid pink;
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 21px;
  transform: translateX(-50%);
  font-size: 0;
  list-style-type: none;

  &:active:before, &:hover:before {
  }

  &__elem {
    border: 1px solid $color2;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 64px;
    height: 3px;
    // height: 0.12rem;
    margin: 0 0.25rem;
    border-radius: 12%;
    color: $color2;
    cursor: pointer;
    overflow: visible;
    
    &:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      height: 100%;
      background: #333;
      border-radius: 12%;
      transition: transform 0.3s;
      transform: translate(-50%, -50%) scale(0);
    }
    
    &.active:before,
    &:hover:before {
      transform: translate(-50%, -50%) scale(1);
    }

    &.active {
      // border: 2px solid $color2;
      cursor: auto;
    }

    .progressBar {
      width: 100%;
      height: 3px;
      // border: 1px solid #111;
      // background-color: $color2;
      line-height: 22px; 
    }
    .progressBar div {
      height: 100%;
      color: #fff;
      text-align: right;
      // line-height: 22px; /* same as #progressBar height if we want text middle aligned */
      width: 0;
      background-color: #00ff00;
    }
  }
}

/*********************************************************************
PROJECTS
*********************************************************************/
.projects-container {
  background: #000;
  margin: 0;
  padding: 0;
  position: relative;
  height: auto;
  user-select: none;
  overflow: hidden;
}
.projects {
  z-index: 1;
  position: relative;
  height: 100%;

  &.animating {
    transition: transform 0.5s;
    will-change: transform;

    .slide__bg {
      transition: transform 0.5s;
      will-change: transform;
    }
  }
}
.project {
  // border: 1px solid deeppink;
  position: relative;
  width: 280px;
  height: 200px;
  min-height: 200px;
  background-color: #000;
  margin: 4px 0px 0px 0px;
  padding: 0;
  overflow: hidden;

  &__bg {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center 20%;
  }

  &:nth-child(1) {
    .project__bg {
      background-image: url('./imgs/proj.png');
    }
  }
  &:nth-child(2) {
    .project__bg {
      background-image: url('./imgs/proj2.jpg');
    }
  }
  &:nth-child(3) {
    .project__bg {
      background-image: url('./imgs/proj3.jpg');
    }
  }
  &:nth-child(4) {
    .project__bg {
      background-image: url('./imgs/proj4.png');
    }
  }

  &__content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.projects-footer {
  padding: 34px 0px 21px 0px;
  position: relative;
  min-height: 200px;
  background-color: #333;
  background: linear-gradient(to bottom, rgba(51,51,51,1) 0%, rgba(0,0,0,1) 100%);
  // background: linear-gradient(to bottom, rgba(255,0,255,0.5) 0%, rgba(0,0,0,1) 100%);
  text-align: center;

  a {
    color: purple !important;
  }

  &__text {
    color: $color;

    &-heading {
      font-family: $lato;
      font-size: 2.5rem;
      color: $color;
      padding-top: 1rem;
    }

    &-link {
      z-index: 5;
      display: inline-block;
      position: relative;
      padding: 0.25rem;
      cursor: pointer;
      font-family: $openSans;
      // font-size: 1.15rem;
      font-size: 5.0rem;
      perspective: 1000px;
      
      @include mediaMaxWidth(991px) {
        display: none;
      }

      &:before {
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        transform-origin: 50% 100%;
        transform: rotateX(-85deg);
        transition: transform 0.3s;
        will-change: transform;
      }

      &:hover:before {
        transform: rotateX(0);
      }
    }
  }
}

/*********************************************************************
ABOUT
*********************************************************************/
.about-container {
  position: relative;
  user-select: none;
  padding: 0px 3%;
  overflow: hidden;
}
.about {
  padding: 34px 0px 0px 0px;
  display: block;

  h2 {
    margin: 0px auto;
    font-family: $halflife;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: $color;
  }

  p {
    font-family: $openSans;
    font-size: 1.08rem;
    margin-bottom: 1.5rem;
    color: $color;

    @include mediaMaxWidth(575px) {
      color: deeppink;
    }
    
  }
}

/*********************************************************************
SOCIAL
*********************************************************************/
.social-container {
  position: relative;
  user-select: none;
  padding: 0px 3%;
  overflow: hidden;
}
.social {
  display: block;
  position: relative;
  // margin: 20px auto;
  padding: 34px 0px 21px 0px;

  h2 {
    margin: 0px auto;
    font-family: $halflife;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: $color;
  }
}
.social ul {
  margin: 0px auto;
}
.social ul > li {
  display: inline-block;
  padding: 0px;
  margin: 0px 6px;
}
.social button {
  height: auto;
  min-width: 60px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #555;
  outline: none;
  font-size: 1.32em;
  padding: 8px 18px 6px 18px;
  margin: 0px 0px 0px 0px;
  opacity: 1;
  cursor: pointer;
}
.social button:hover {
  opacity: 0.9;
  position: relative;
  top: -2px;
  left: -2px;
  -webkit-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.75);
}

/*********************************************************************
P5 CANVAS
*********************************************************************/
.p5-canvas-container {
  margin: 0;
  padding: 0;  
}

.p5-canvas {
  position: relative;
  display: block;
  width: 100%;
  height: 420px;
}


/*********************************************************************
SKILLS
*********************************************************************/
.skills {
  background: #100606;
  color: #ccc;
  height: 100%;
}


/*********************************************************************
FOOTER
*********************************************************************/
.footer-container {
  position: relative;
  margin: 34px 16px 21px 16px;
  padding: 0;
  background-color: #000;
  overflow: hidden;
}
.footer {
  display: block;
  min-height: 52px;
  width: 100%;
  max-width: 991px;
  line-height: 16px;
  font-size: 11px;
  color: $color;
  margin: 0px auto;

  &.row {
  }

  &-promo {
    margin: 0px 0px 7px 0px;
    padding: 0px 0px 6px 0px;
    border-bottom: 1px solid #333;

    &-content {

    }
  }

  &-legalese {
    &-links {
      text-align: center;
      margin: 3px 0px;
      a {
        color: #888;
      }
      @include mediaMaxWidth(767px) {
        text-align: left;
      }
    }
    &-link {
      border-right: 1px solid #333;
      margin: 3px 10px 0px 0px;
      padding: 0px 12px 0px 0px;
       &:last-of-type {
        border-right: none;
       }
    }
    &-location {
      text-align: right;
      @include mediaMaxWidth(767px) {
        text-align: left;
      }
    }
  }
}



// STUFF
section {
  margin: 100px auto 100px auto;
  height: 500px;
  width: 600px;
  background: #333;
  text-align: center;
  padding-top: 300px;
  color: black;
  font-size: 4em;
  overflow: hidden; 
}

