@font-face {
  src: url('https://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2');
  font-family: 'Lato-Regular';
}
$lato: 'Lato', Helvetica, Arial, sans-serif;
$polar: 'Lato' Helvetica, Arial, sans-serif;
$openSans: 'Open Sans', Helvetica, Arial, sans-serif;

@mixin mediaMaxWidth($w) {
  @media (max-width: $w) {
    @content;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  font-size: 1.06em;
  height: 100%;
}
body {
  background: #000;
}
svg {
  display: block;
  overflow: visible;
}

// html, body{
//   -moz-osx-font-smoothing: antialiased;
//   -webkit-font-smoothing: antialiased;
//   margin: 0;
//   padding: 0;
//   height: 100%;
//   background: #333;
//   font-size: 1.08em;
//   font-family: $lato;
// }

.container-fluid {
  margin: 0px;
  padding: 0px;
}

/*********************************************************************
NAVBAR
*********************************************************************/
.navbar {
  background: #000 !important;
  transition-duration: 0.42s;
  opacity: 0.8;
  a {
    color: deeppink;
  }
}
.navbar-scroll {
  transform: translateY(-52px);
  transition-duration: 0.42s;   
}
.navbar-brand {
  color: deeppink !important;
}
/*********************************************************************
SLIDER
*********************************************************************/
svg {
  display: block;
  overflow: visible;
}

// .slider-container {
//   padding: 0;
//   height: 100%;
//   width: 100%;
// }

.x-container {
  position: relative;
  height: 100%;
  width: 100%;
  user-select: none;
  cursor: all-scroll;
}

.x-slider {
  position: relative;
  height: 100%;
  z-index: 1;

  &.animating {
    transform: 0.5s;
    will-change: transform;

    .slide__bg {
      transform: 0.5s;
      will-change: transform;
    }
  }
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;

  &.active {
    .slide__overlay, .slide__text {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-size: cover;
    will-change: transform;
  }
  &:nth-child(1) {
    left: 0;

    .slide__bg {
      left: 0;
      background-image: url('./imgs/bg.png');
    }

    .slide__overlay-path {
      fill: rgba(0,0,0,0.8);
    }

    @include mediaMaxWidth(991px) {
      .slide__text {
        background-color: rgba(0,0,0,0.8);
        // background-color: rgba(233, 156, 126, 0.8);
      } 
    }
  }
  &:nth-child(2) {
    left: 100%;

    .slide__bg {
      left: -50%;
      background-image: url('./imgs/bg5.jpg');
    }

    .slide__overlay-path {
      fill: rgba(0,0,0,0.8);
    }

    @include mediaMaxWidth(991px) {
      .slide__text {
        background-color: rgba(0,0,0,0.8);
        // background-color: rgba(225, 204, 174, 0.8);
      } 
    }
  }
  &:nth-child(3) {
    left: 200%;

    .slide__bg {
      left: -100%;
      background-image: url('./imgs/bg3.jpg');
    }

    .slide__overlay-path {
      fill: rgba(0,0,0,0.8);
      // fill: rgb(173, 197, 205);
    }

    @include mediaMaxWidth(991px) {
      .slide__text {
        background-color: rgba(0,0,0,0.8);
        // background-color: rgba(173, 197, 205, 0.8);
      } 
    }
  }
  &:nth-child(4) {
    left: 300%;

    .slide__bg {
      left: -150%;
      background-image: url('./imgs/bg6.jpg');
    }

    .slide__overlay-path {
      fill: rgba(0,0,0,0.8);
      // fill: rgb(203, 198, 195);
    }

    @include mediaMaxWidth(991px) {
      .slide__text {
        background-color: rgba(0,0,0,0.8);
        // background-color: rgba(203, 198, 195, 0.8);
      } 
    }
  }
  
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    min-height: 810px;
    transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
    will-change: transform, opacity;
    transform: translate3d(-20%, 0, 0);
    opacity: 0;

    @include mediaMaxWidth(991px) {
      display: none;
    }

    path {
      opacity: 0.8;
    }
  }

  &__text {
    position: absolute;
    width: 25%;
    bottom: 15%;
    left: 12%;
    color: #fff;
    transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
    will-change: transform, opacity;
    transform: translateY(-50%);
    opacity: 0;

    @include mediaMaxWidth(991px) {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 20rem;
      text-align: center;
      transform: translateY(50%);
      transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
      padding: 0 1rem;
    }

    &-heading {
      font-family: $polar;
      font-size: 2.23rem;
      margin-bottom: 2rem;
      
      @include mediaMaxWidth(991px) {
        line-height: 20rem;
        font-size: 3.5rem;
      }
    }

    &-desc {
      font-family: $openSans;
      font-size: 1.61rem;
      margin-bottom: 1.5rem;

      @include mediaMaxWidth(991px) {
        display: none;
      }
    }

    &-link {
      z-index: 5;
      display: inline-block;
      position: relative;
      padding: 0.5rem;
      cursor: pointer;
      font-family: $openSans;
      font-size: 1.34rem;
      perspective: 1000px;
      
      @include mediaMaxWidth(991px) {
        display: none;
      }

      &:before {
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        transform-origin: 50% 100%;
        transform: rotateX(-85deg);
        transition: transform 0.3s;
        will-change: transform;
      }

      &:hover:before {
        transform: rotateX(0);
      }
    }
  }
}

.slider-pagi {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  font-size: 0;
  list-style-type: none;
  
  &__elem {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 0.23rem;
    height: 0.23rem;
    margin: 0 0.5rem;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    
    &:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: 0.64rem;
      height: 0.64rem;
      background: #fff;
      border-radius: 50%;
      transition: transform 0.3s;
      transform: translate(-50%, -50%) scale(0);
    }
    
    &.active:before,
    &:hover:before {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.slider-control {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 12%;
  height: 100%;
  transition: opacity 0.3s;
  will-change: opacity;
  opacity: 0;

  &.inactive:hover {
    cursor: auto;
  }

  &:not(.inactive):hover {
    opacity: 1;
    cursor: pointer;
  }

  &.left {
    left: 0;
    background: linear-gradient(to right, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    // background: linear-gradient(to right, rgba(0,0,0,0.18) 0%, rgba(0,0,0,0) 100%);
  }
  &.right {
    right: 0;
    background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
    // background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.18) 100%);
  }
}

/*********************************************************************
SKILLS
*********************************************************************/
.skills {
  background: #100606;
  color: #ccc;
  height: 800px;
}
section {
  margin: 100px auto 100px auto;
  height: 500px;
  width: 600px;
  background: magenta;
  text-align: center;
  padding-top: 300px;
  color: black;
  font-size: 4em;
  overflow: hidden; 
}

